ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}
header {
  border-bottom: 1px solid #eaeaea;
}

p {
  margin-top: 7px;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: #7f838c;
}

.header-menu {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
}

.header-li {
  display: flex;
  text-align: center;
  height: 45px;
}

.nav-link {
  position: relative;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 13px;
  color: #2d5ca6;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2d5ca6;
  opacity: 0;
}

.nav-link:focus,
.nav-link:hover {
  color: #1d1d1d;
  background: rgba(0, 75, 193, 0.05);
}

.nav-link:focus,
.nav-link:hover::after {
  opacity: 1;
}

/* БЛОК ИНФОРМАЦИИ */

.main-info {
  margin-top: 23px;
  display: flex;
  flex-wrap: nowrap;
}
.pic {
  margin-right: 30px;
}
.first-news {
  margin-bottom: 20px;
}
.text {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #004bc1;
}
